<header>
    <% jsonData.navigation.forEach(element => { %>
        <% if (element.navigation!= undefined) { %>
            <div class="dropdown" style="display: inline-block; vertical-align: top; border-left: 2px solid;">
                <a class="dropdown" href="<%- element.href %> "><%- element.name %> </a>
                <div class="menushow">
                    <% element.navigation.forEach(subelement => { %>
                        <a <% if (subelement.href!= undefined) { %> href="<%- subelement.href %>" <% } %> ><%- subelement.name %> </a>
                    <% }) %>
                </div>
            </div>
        <% }else{ %>
            <a <% if (element.href!= undefined) { %> href="<%- element.href %>" <% } %> style="display: inline-block; vertical-align: top; border-left: 2px solid;"><%- element.name %> </a>
        <% } %> 
    <% }) %> 
</header>